.main {
  .main-font;
  .list-holder {
    border-radius: 8px;
  }
  ul.list-group {
    max-height: 420px;
    overflow-y: auto;
    text-overflow: ellipsis;
  }
  button#primary {
    width: 25px;
    height: 25px;
  }
  #inputPriority.form-control {
    width: 20px;
  }
}